(
    tanks: {
        LIGHT_TANK: (
            moveSpeed: 0.4,
            bodyRotationSpeed: 0.3,
            turretYawRotationSpeed: 0.3,
            turretPitchRotationSpeed: 0.3,
            turretMaxPitch: 0.5,
            turretMinPitch: -0.5,
            maxSlope: 0.25,
            size: (
                0.3,
                0.3,
                0.5,
            ),
            shootCooldown: 5,
            projectileDamage: 10.0,
            projectileSpeed: 3.0,
            projectileLifetime: 100,
            projectileSize: (
                0.1,
                0.1,
                0.2,
            ),
            maxHealth: 100,
            armor: {
                TOP: 0.0,
                BOTTOM: 0.0,
                FRONT: 0.3,
                BACK: 0.1,
                LEFT: 0.2,
                RIGHT: 0.2,
            }
        ),
        HEAVY_TANK: (
            moveSpeed: 0.25,
            bodyRotationSpeed: 0.2,
            turretYawRotationSpeed: 0.15,
            turretPitchRotationSpeed: 0.2,
            turretMaxPitch: 0.5,
            turretMinPitch: -0.5,
            maxSlope: 0.25,
            size: (
                0.5,
                0.5,
                0.5,
            ),
            shootCooldown: 15,
            projectileDamage: 20.0,
            projectileSpeed: 3.0,
            projectileLifetime: 100,
            projectileSize: (
                0.15,
                0.15,
                0.3,
            ),
            maxHealth: 100,
            armor: {
                TOP: 0.0,
                BOTTOM: 0.0,
                FRONT: 0.3,
                BACK: 0.1,
                LEFT: 0.2,
                RIGHT: 0.2,
            }
        ),
        SELF_PROPELLED_ARTILLERY: (
            moveSpeed: 0.1,
            bodyRotationSpeed: 0.1,
            turretYawRotationSpeed: 0.0,
            turretPitchRotationSpeed: 0.15,
            turretMaxPitch: 0.8,
            turretMinPitch: -0.5,
            maxSlope: 0.25,
            size: (
                0.5,
                0.5,
                0.5,
            ),
            shootCooldown: 20,
            projectileDamage: 50.0,
            projectileSpeed: 2.0,
            projectileLifetime: 100,
            projectileSize: (
                0.15,
                0.15,
                0.3,
            ),
            maxHealth: 100,
            armor: {
                TOP: 0.0,
                BOTTOM: 0.0,
                FRONT: 0.3,
                BACK: 0.1,
                LEFT: 0.2,
                RIGHT: 0.2,
            }
        ),
    },
)