(
    teams: {
        "Red": (
            color: Srgba(
                Srgba(
                    red: 1.0,
                    green: 0.0,
                    blue: 0.0,
                    alpha: 1.0,
                )
            ),
            max_players: 1,
        ),
        "Blue": (
            color: Srgba(
                Srgba(
                    red: 0.0,
                    green: 0.0,
                    blue: 1.0,
                    alpha: 1.0,
                )
            ),
            max_players: 1,
        ),
    },
    map: (
        width: 10,
        height: 10,
        tiles: [
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
            [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,],
        ],
        layers: [
            (
                kind: FOREST,
                costModifier: 2.0,
                tiles: [
                    (x: 0, y: 0), (x: 1, y: 0), (x: 2, y: 0),
                ]
            ),
        ],
        markers: [
            (
                tile: (x: 0, y: 0),
                group: "Red",
                kind: (
                    type: "Spawn",
                    spawnNumber: 0
                ),
            ),
            (
                tile: (x: 9, y: 9),
                group: "Blue",
                kind: (
                    type: "Spawn",
                    spawnNumber: 0
                ),
            ),
        ]
    )
)
