(
    server_ip: "127.0.0.1",
    server_port: 9999,
    teams: [
        (
            name: "Red",
            color: Srgba(
                Srgba(
                    red: 1.0,
                    green: 0.0,
                    blue: 0.0,
                    alpha: 1.0,
                )
            ),
            max_players: 4,
        ),
        (
            name: "Blue",
            color: Srgba (
                Srgba(
                    red: 0.0,
                    green: 0.0,
                    blue: 1.0,
                    alpha: 1.0,
                )
            ),
            max_players: 4,
        ),
    ],
)
